.profile__overlay-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    background-image: url(../../../images/edit.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 26px 26px;
    border-radius: 50%;
    opacity: 0;
    transform: scale(.7);
}
